.input {
  background: var(--content-bg);
  outline: 0;
  border: 0;
  width: 100%;
  padding: 16px;
  margin: 15px 0;
  border-radius: 8px;
  color: var(--text-color);
  font-size: 0.8rem;
}

.input::placeholder {
  color: var(--icons);
  font-size: 0.8rem;
  font-family: "IRANSans";
}
.table {
  width: 100%;
  background: var(--content-bg);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  color: var(--text-color-seccond);
  border-collapse: collapse;
  overflow: hidden;
}
.table thead {
  color: var(--text-color);
}
.table tr td,
.table tr th,
.table thead th {
  padding: 15px 0;
  margin: 20px;
  border: 2px solid #4c4c4c;
}
